<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html"/>
<sly data-sly-call="${clientlib.all @ categories='weekend.mockapiproxy'}"/>

<sly data-sly-use.model="com.weekend.core.models.MockApiModel"/>

<div class="api-component">

    <h2>Products</h2>

    <div class="products-container">

        <sly data-sly-list.product="${model.products}">

            <div class="user-card">

                <img src="${product.image}"
                     alt="${product.title}" />

                <p><b>ID:</b> ${product.id}</p>

                <p><b>Title:</b> ${product.title}</p>

                <p><b>Category:</b> ${product.category}</p>

                <p><b>Price:</b> $${product.price}</p>

                <p><b>Description:</b></p>
                <p class="description">
                    ${product.description}
                </p>

                <p><b>Rating:</b> ${product.rating.rate}</p>

                <p><b>Rating Count:</b> ${product.rating.count}</p>

            </div>

        </sly>

    </div>

</div>