<div class="custom-section">

    <!-- Title Component -->
    <sly data-sly-resource="${'title' @ resourceType='core/wcm/components/title/v3/title'}"></sly>

    <!-- Image Component -->
    <sly data-sly-resource="${'image' @ resourceType='core/wcm/components/image/v3/image'}"></sly>

    <!-- Text Component -->
    <sly data-sly-resource="${'text' @ resourceType='core/wcm/components/text/v2/text'}"></sly>

    <!-- Button Component -->
    <sly data-sly-resource="${'button' @ resourceType='core/wcm/components/button/v1/button'}"></sly>



</div>